body{background:#0f172a;color:white;font-family:Arial;padding:20px}
input,button{width:100%;padding:10px;margin:5px 0}
button{background:#22c55e;border:none;cursor:pointer}
.card{background:#1e293b;padding:15px;margin:10px 0;border-radius:10px}
a{color:#38bdf8}
